<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">

<head>
    <title>{# title #}</title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top:    50px;
        padding-bottom: 10px;
      }
      .ui-datepicker-trigger {
        margin:         0px 0px 10px 10px;
          
      }
    </style>
    <script src="{{ url_for('static', filename='jquery/js/jquery-1.8.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</head>

<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <a class="brand" href="#" style="margin-left:10px;">Test Job</a>
            <ul class="nav">
                <li><a href="{{ url_for('profile.lst') }}">Profiles</a></li>
                <li><a href="{{ url_for('author.lst') }}">Authors</a></li>
                <li><a href="{{ url_for('book.lst') }}">Books</a></li>
            </ul>

            <div class="pull-right" style="padding:0 30px 0 0;">
               {% if not session['is_authenticated'] %} 
                <form accept-charset="utf-8" class="navbar-form" method="post" action="{{ url_for('user.login') }}">
                    <input name="email" class="span2" type="text" placeholder="Email">
                    <input name="password" class="span2" type="password" placeholder="Password">
                    <button type="submit" class="btn">Sign in</button>
                </form>
                {% else %}
                    <a style="padding-rigth:10px;" class="btn" href="{{ url_for('user.logout') }}">Log out, {{ g.user.name }}</a>
                {% endif %}
            </div>
        </div>
    </div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <span class="label label-warning">{{ message }}</span>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <div class="container">
        <form accept-charset="utf-8" class="navbar-form pull-right" style="margin-bottom:5px;" method="post" action="{{ url_for('search.perform_search') }}">
            <input type="text" class="input-medium" name="query" placeholder="Lost something?">
            <input type="submit" class="btn" style="margin-top:2px;" value="Search"/>
        </form>
        {% block main_content %}{% endblock %}
    </div>
</body>

<hr>
Company 2012
</html>

